---
import Card from "./Card.astro";
import Supervisor from "../assets/icon-supervisor.svg";
import TeamBuilder from "../assets/icon-team-builder.svg";
import Karma from "../assets/icon-karma.svg";
import Calculator from "../assets/icon-calculator.svg";
import Header from "./Header.astro";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/400.css";
---

<div class="container">
  <section>
    <div>
      <Header />
      <div class="cards">
       
        <Card
          title="Supervisor"
          text="Monitors activity to identify project roadblocks"
          img={{ src: Supervisor, alt: "Supervisor icon" }}
          color="hsl(180, 62%, 55%)"
          id="card1"
        />
        <Card
          title="Team Builder"
          text="Scans our talent network to create the optimal team for your project"
          img={{ src: TeamBuilder, alt: "TeamBuilder icon" }}
          color="hsl(0, 78%, 62%)"
          id="card2"
        />
        <Card
          title="Karma"
          text="Regularly evaluates our talent to ensure quality"
          img={{ src: Karma, alt: "Karma icon" }}
          color="hsl(34, 97%, 64%)"
          id="card3"
        />
        <Card
          title="Calculator"
          text="Uses data from past projects to provide better delivery estimates"
          img={{ src: Calculator, alt: "Karma icon" }}
          color="hsl(212, 86%, 64%)"
          id="card4"
        />
      </div>
    </div>
  </section>
</div>
<style>
  .container {
    width: 100%;
    height: 100%;
  }

  .cards {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-content: center;
    height: 100%;
  }
  section {
    background: hsl(0, 0%, 98%);
    min-height: 100vh;
    font-family: "poppins", sans-serif;
  }
  @media (min-width: 768px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2rem;
      align-items: center;
      padding: 0rem 7rem;
      margin: 0;
    }
  }
</style>
